<a href="https://colab.research.google.com/github/rahmanziaur/EDGEICT/blob/main/22dectuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

mytuple = ("apple", "banana", "cherry", "Cherry")

for x in tuple3:
  print(x)
  print(tuple3.index(x))

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
True
0
False
1
False
1

In [ ]:
print(tuple(i for i in range(6)))

(0, 1, 2, 3, 4, 5)

In [ ]:
# Define a tuple
example_tuple = (1, 2, 3, 3, 4, 5)

# Ordered: Access elements by index
print("First element:", example_tuple[0])  # Output: 1
print("Last element:", example_tuple[-1])  # Output: 5

# Unchangeable: Attempting to change an element raises an error
try:
    example_tuple[1] = 10  # This will raise an error
except TypeError as e:
    print("Error:", e)

# Allows duplicates: Tuple can have repeated elements
print("Original tuple:", example_tuple)  # Output: (1, 2, 3, 3, 4, 5)
print("Count of 3:", example_tuple.count(3))  # Output: 2

# Iterating over the tuple (demonstrating order)
for item in example_tuple:
    print(item, end=" ")  # Output: 1 2 3 3 4 5

**Python 'Set' Practice **

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
testset = {"apple", "banana", "cherry", True, 1, 2}
for val in testset:
    print(val)

cherry
2
True
apple
banana

In [ ]:
# importing libraries
from timeit import default_timer as timer
import itertools
import random

# Function under evaluation
def test_func(test_set):

	for val in test_set:
		_ = val

# Driver function
if __name__ == '__main__':

	random.seed(21)

	for _ in range(5):
		test_set = set()

		# generating a set of random numbers
		for el in range(int(1e6)):
			el = random.random()
			test_set.add(el)

		start = timer()
		test_func(test_set)
		end = timer()

		print(str(end - start))

0.08843392799997218
0.09016933200007315
0.0892683089999764
0.0878868089999969
0.08943041300005916

In [ ]:
print(int(1e6))

1000000