<a href="https://colab.research.google.com/github/rahmanziaur/EDGEICT/blob/main/22DecTuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

mytuple = ("apple", "banana", "cherry", "Cherry")

for x in tuple3:
  print(x)
  print(tuple3.index(x))

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
True
0
False
1
False
1

In [9]:
print([list(i for i in range(6))])

<generator object <genexpr> at 0x7c6d865e2a40>

In [ ]:
# Define a tuple
example_tuple = (1, 2, 3, 3, 4, 5)

# Ordered: Access elements by index
print("First element:", example_tuple[0])  # Output: 1
print("Last element:", example_tuple[-1])  # Output: 5

# Unchangeable: Attempting to change an element raises an error
try:
    example_tuple[1] = 10  # This will raise an error
except TypeError as e:
    print("Error:", e)

# Allows duplicates: Tuple can have repeated elements
print("Original tuple:", example_tuple)  # Output: (1, 2, 3, 3, 4, 5)
print("Count of 3:", example_tuple.count(3))  # Output: 2

# Iterating over the tuple (demonstrating order)
for item in example_tuple:
    print(item, end=" ")  # Output: 1 2 3 3 4 5